<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <style type="text/css" rel="stylesheet" media="all">
        body{font: normal 100%/1.4 "Microsoft YaHei","微软雅黑","Hiragino Sans GB",Tahoma,Lucida,Verdana,STHeiti,SimSun,'宋体',sans-serif;color: #424242;background: #f0f1f1;overflow: hidden;}
        #BSIE{ width: 600px; padding: 20px; margin: 200px auto 60px; line-height: 30px; font-size: 14px; overflow: hidden; border: 2px dashed #cdcdcd; }
        h3{text-align: center;font-size:36px;font-style: italic;}
        p{text-indent: 28px;}
    </style>
</head>
<body> 
    <div id="BSIE">
        <h3>404 Not Found</h3>
        <p>当你看到这个页面的时候，则意味着您所访问的内容，我们服务器不能提供。３秒以后将重定向到MorePHP.COM首页。</p>
        <p>Sorry!</p>
    </div>
</body>
<script type="text/javascript">
     setTimeout("window.location.href='/'",3000)
</script>
</html>